.App{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #fff;
  color: #fff;
  
}

.container{
  display: flex;
  flex-direction: column;
  width: 300px;
 
  border-radius: 10px;
  background-color:#000033;
  padding: 15px;
  

}

.header {
  text-align: center;
}

.body{
  text-align: center;
  background-color: #fff;
  color: green;
  border-radius: 10px;
  height: 100px;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.footer{
  text-align: center;
}

.header h2{
  margin-bottom: 1.5rem;
}

button{
  width: 50%;
  background-color: #00004d;
  border-radius: 5px;
  font-weight: 100px;
  color: #fff;
  border: 1px solid gray;
  padding: 10px;
  font-weight: 700  ;
}
button:hover{
  background-color: #fff;
  color: #00004d;
  transform: 0.5s ease;
}

p{
  text-justify: auto;
  
}
h1{
  font-weight: 900;
  font-size: 3rem;
  font-family: 'Times New Roman', Times, serif;
  
}